@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');
.sidebar {
    display: flex;
    flex-direction: column;
    width: 18%;
    min-height: 100%;
    border-top: solid 0.1rem rgba(33, 37, 41, 1);
    border-right: solid 0.1rem rgba(33, 37, 41, 1);
    box-sizing: border-box;
}
.container__botones {
    display: flex;
    flex-direction: column;
}
.sidebar h4 {
    padding-top: 0.5rem;
    padding-left: 0.6rem;
}
.sidebar__button {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: left;
    border: none;
    background-color: transparent;
    padding: 0.3rem 0.5rem;
    margin: 0.1rem 0.5rem;
    font-weight: 500;
}
.sidebar__button:hover {
    background-color: gainsboro;
    border-radius: 0.5rem;
}
.sidebar__a {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: left;
    border: none;
    background-color: transparent;
    padding: 0.3rem 0.5rem;
    margin: 0.1rem 0.5rem;
    text-decoration: none;
    color: black;
    font-weight: 500;
}
.sidebar__a:hover {
    background-color: gainsboro;
    border-radius: 0.5rem;
    color: black;
}
.sidebar__icon {
    margin-right: 0.6rem;
}
.activo {
    background-color: gainsboro;
    border-radius: 0.5rem;
}