.container__main {
    display: flex;
    flex-direction: row;
    flex: 1 0 auto;
}
.container__general {
    display: flex;
    flex-direction: column;
    width: 85%;
    border-top: solid 0.1rem rgba(33, 37, 41, 1);
    padding-top: 0.3rem;
    padding-left: 0.5rem;
    box-sizing: border-box;
}
.titulo {
    margin-left: 0.5rem;
}
.insumo__data {
    background-color: #f0f0f0;
    padding: 0.5rem;
    margin-bottom: 15px;
    border: solid 0.15rem #d4d4d4;
    border-radius: 0.25rem;
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.data__container-insumo {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #ffffff;
    border-radius: 0.25rem;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    padding: 0.5rem 1rem;
}
.container__dataFija-insumo {
    font-weight: bold;
}
.dataFija__titulo {
    font-size: 1em;
}
.boton__modInsumo {
    background-color: #0063ce;
    color: #ffffff;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s;
    align-self: flex-end;
}
.boton__modInsumo:hover {
    background-color: #0076f5;
}
.boton__modInsumo:active {
    scale: 0.95;
}
/* CARGAR INSUMO */
.container__input {
    display: flex;
    flex-direction: row;
    padding: 0.1rem 0.1rem;
    margin: 0.2rem 0.2rem;
    width: 80%;
}
.input__insumo {
    width: 40%;
    background-color: rgba(202, 202, 202, 0.6);
    border: solid 0.2rem transparent;
    border-radius: 0.3rem;
    outline: none;
    padding: 0.1rem 0.3rem;
}
.input__insumo:focus {
    border: solid 0.2rem rgba(202, 202, 202, 1);
}
.boton__modInsumo {
    width: 20%;
    margin: 0rem 0rem;
    margin-top: 0.5rem;
}