.container__main {
    display: flex;
    flex-direction: row;
    flex: 1 0 auto;
}
.container__general {
    display: flex;
    flex-direction: column;
    width: 85%;
    border-top: solid 0.1rem rgba(33, 37, 41, 1);
    padding-top: 0.3rem;
    padding-left: 0.5rem;
    box-sizing: border-box;
    /* min-height: 100vh; */
}
.titulo {
    margin-left: 0.5rem;
}
.producto__data {
    display: flex;
    flex-direction: column;
    justify-content: left;
    margin-left: 0.5rem;
}
.producto__stock {
    display: flex;
    flex-direction: row;
}
.producto__componentes {
    display: flex;
    flex-direction: row;
}
.lista__items {
   display: flex;
   flex-direction: row;
}
.x__button {
    background-color: transparent;
    border: none;
    margin-right: 0.4rem;
    padding: 0;
    padding-left: 0.1rem;
}
.productoCargado {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: left;
}
