/* IMPORTACION DE FUENTE */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');

/* FILTROS */
.filtros__general {
    background-color: rgba(202, 202, 202, 0.6);
    border: solid 0.5rem white;
    border-radius: 0.6rem;
}
.icono__filtro {
    padding-left: 0.5rem;
    padding-top: 0.3rem;
}
.filtro__container {
    display: flex;
    flex-direction: column;
    padding: 0.5rem;
}
.container__boton-filtro {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 0.5rem;
}
.boton__filtro {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(33, 37, 41, 1);
    border-color: rgba(33, 37, 41, 1);
    border-radius: 0.3rem;
    color: whitesmoke;
    padding: 0.2rem 0.5rem;
}
.boton__filtro:active {
    scale: 0.95;    
}

/* MENSAJES */
.container__mensajes {
    margin: 0.3rem 0.5rem;
}
.mensaje__error {
    color: red;
}
.mensaje__ok {
    color: green;
}

/* PASSWORD BUTTON */
.eyeButton {
    min-width: 2.5rem;
    background-color: transparent;
    border: solid 0.2rem transparent;
    outline: none;
    padding: 0.1rem 0.3rem;
    margin: 0.3rem 0rem;
}
