/* IMPORTACION DE FUENTE */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');

/* FILTROS */
.filtros__general {
    background-color: rgba(202, 202, 202, 0.6);
    border: solid 0.5rem white;
    border-radius: 0.8rem;
    padding: 0.1rem 0.2rem ;
}
.icono__filtro {
    color: #004c9e;
    padding-left: 0.5rem;
    padding-top: 0.3rem;
}
.filtro__container {
    display: flex;
    flex-direction: column;
    padding: 0.5rem;
}
.filtro__container input, select {
    border: solid 0.15rem white;
    border-radius: 0.3rem;
    padding: 0.1rem 0.3rem;
    outline: none;
}
.filtro__container input:hover, select:hover {
    cursor: pointer;
}
.container__boton-filtro {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 0.5rem;
}
.boton__filtro {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #0063ce;
    border: solid 0.1rem #0063ce;
    border-radius: 0.3rem;
    color: white;
    padding: 0.25rem 0.5rem;
    margin-top: 0.25rem;
}
.boton__filtro:hover {
    background-color: rgb(27, 119, 211);
    border-color: rgb(27, 119, 211);
}
.boton__filtro:active {
    scale: 0.95;    
}

/* MENSAJES */
.container__mensajes {
    margin: 0.3rem 0.5rem;
    font-weight: 600;
}
.mensaje__error {
    color: red;
}
.mensaje__ok {
    color: green;
}

/* PASSWORD BUTTON */
.eyeButton {
    min-width: 2.5rem;
    background-color: transparent;
    border: solid 0.2rem transparent;
    outline: none;
    padding: 0.1rem 0.3rem;
    margin: 0.3rem 0rem;
}
